* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    /* --base-color: #090909;
    --text-color: #bdbdbd;
    --head-color: white;
    --highlight-color: #FF3CC7; */

    --base-color: #090909;
    --text-color: #cfcfcf;
    --head-color: white;
    --highlight-color: #B4C5E4;

    /* --base-color: #white;
    --text-color: #black;
    --head-color: black;
    --highlight-color: #black; */

    /* --base-color: #212121;
    --text-color: #72757e;
    --head-color: #fffffe;
    --highlight-color: #7f5af0; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--base-color);
    background-size: 60px 60px;
    background-image:
        linear-gradient(to right, rgba(128, 128, 128, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(128, 128, 128, 0.05) 1px, transparent 1px);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 61px;
    width: 100%;
    padding: 0 15%;
    background-color: var(--base-color);
}

header h1 {
    color: var(--head-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 4rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* .Home {
    position: relative;
    
}

.Home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/hero2.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    
    filter: blur(200px);
    z-index: -3; 
} */


main {
    padding: 0 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}
    

main h1 {
    font-size: 4.5rem;
    color: var(--head-color);
}

main p {
    padding: 1.4rem 0;
    font-size: 2.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

main button {
    font-size: 1.5rem;
}

main .btn {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.Resources {
    /* padding: calc(10% + 60px) 15%; */
    padding: 8% 15%;
    padding-top: 61px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: flex-start;
    /* border: 1px solid black; */
}

.Resources .titler {
    font-size: 3rem;
    margin-bottom: 50px;
    color: var(--head-color);
}

.cards {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
}

.card {
    height: 400px;
    width: 325px;
    color: var(--base-color);
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border-radius: 20px;
}

.About {
    /* padding: calc(10% + 60px) 15%; */
    padding: 8% 15%;
    padding-top: 61px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    align-content: flex-start;
    color: var(--text-color);
}

.About h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    color: var(--head-color);
}

.About p {
    font-size: 1.5rem;
    margin-bottom: 95px;
}

.About h2 {
    font-size: 2.5rem;
    
    color: var(--head-color);
}

.About .team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 70px;
    gap: 2rem;
}

.member {
    
    height: auto;
    width: 300px;
    text-align: center;
    color: white;
    background-color: var(--base-color);
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.member img {
    width: 100%;
    height: 400px;
    
    object-fit: cover;
    
    
}

.introm {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--base-color);
    
}

.introm h3 {
    font-size: 1.5rem;
    color: var(--head-color);
    text-align: left;
}

.introm p {
    text-align: left;
    margin-top: 10px;
    font-size: 1.2rem;
}

footer {
    padding: 3%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.contact-info {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

button {
    color: var(--highlight-color);
    
    border: 1px solid var(--highlight-color);
    border-radius: 4px;
    background-color: var(--base-color);
    padding: 10px 30px;
    cursor: pointer;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    /* filter: drop-shadow(0 0 0.2rem var(--highlight-color)); */
}

button:hover {
    transform: scale(1.1);
}

.bold {
    color: var(--highlight-color);
    filter: drop-shadow(0 0 3rem var(--highlight-color));
}

.gitline, .gitline-about, .gitline-res {
    position: absolute;
    
    left: 8%;
    height: 100%;
    width: 20px;
    
}

.gitline-about {
    top: 40%;
    z-index: 1000;
}



section {
    height: 100%;
    width: 6px;
    background-image: linear-gradient(to bottom, var(--highlight-color), #3066BE); ;
    /* background-color: #B4C5E4; */
    z-index: 998;
    filter: drop-shadow(0 0 2rem var(--highlight-color));
    border-radius: 2px;
}

.ghome {
    background-image: linear-gradient(to bottom, #3066BE, #090C9B ); 
}



.gabout {
    height: 60%;
}



i {
    
    font-size: 1.3rem;
    color: var(--highlight-color)
}

.gres {
    height: 60%;
    background-image: linear-gradient(to bottom, #090C9B, var(--highlight-color) ); ;
}